<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Pedido permissão para usar a internet (Login com o gooogle) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!--Permissão para usar a impressão digital-->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <!-- Permissão para acessar o Modo Avião -->
    <uses-permission android:name="android.permission.AIRPLANE_MODE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PoupaMais"
        tools:targetApi="31">
        <activity
            android:name=".activity.MinhasMovimetacoes"
            android:exported="false"
            android:theme="@style/Theme.PoupaMais" />
        <activity
            android:name=".activity.EsqueceuSenha"
            android:exported="false" />
        <activity
            android:name=".activity.MeuPerfil"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.Menu"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.AdicionarLucro"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Lucro.Theme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.AdicionarDespesa"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Despesa.Theme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.PrincipalActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PoupaMais"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.CadastroActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".helper.ReceptorModoAviao"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>